
.main-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 60px;
  padding: 0;
}

.content-card {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 30px;
  min-height: 72vh;
  box-sizing: border-box;
}
