<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>{{ t.loginCol }}</th>
      <th>{{ t.fioCol }}</th>
      <th>{{ t.emailCol }}</th>
      <th>{{ t.birthdayCol }}</th>
      <th>{{ t.rolesCol }}</th>
      <th style="width: 160px;">{{ t.actionsCol }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-u>
    <tr>
      <td><strong>{{ u.login }}</strong></td>
      <td>{{ u.surname }} {{ u.name }} {{ u.patronymic }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.birthday }}</td>
      <td>
        <span *ngFor="let r of u.roles"
              class="role-badge"
              [class.role-badge-admin]="r === 'ADMIN'">
            {{ r }}
        </span>
      </td>
      <td>
        <button pButton
                type="button"
                [label]="t.editBtn"
                class="action-btn"
                [routerLink]="['/useredit', u.login]">
        </button>
        <button *ngIf="currentUserLogin !== u.login"
                pButton
                type="button"
                [label]="t.deleteBtn"
                class="action-btn del-btn"
                (click)="deleteUser(u.login)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
